
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section{
    text-align: center;
    gap: 20px;
    background-color: rgb(39, 39, 224);
    color: white;
    min-height: 270px;
    padding: 50px;
    font-size: 23px;
}

.article-data {
    font-size: 12px;
    text-align: center;
    margin: 15px;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3, 1fr));
  gap: 20px;
  padding: 20px;
}
@media screen and (max-width: 500px) {
    .hero-section {
        font-size: 15px;
        padding: 13px;
        min-height: 200px;
        

    }
    .hero-section h1,p {
        margin-top: 10px;
    } 
   
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

